{# @var registrationForm \Symfony\Component\Form\FormView<App\Form\StudentRegistrationFormType> #}

{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="bg-white md:bg-gradient-to-r from-paper to-white">
        <div class="max-w-screen-xl pt-15 px-4 lg:px-6 mx-auto grid grid-cols-1 md:grid-cols-2 min-h-screen">

              {{ include('partials/_leftColumn.html.twig') }}
            <div class="flex items-center justify-center md:justify-end py-8 sm:pl-8 bg-white">
                <div class="w-full max-w-md ">
                    <h1 class="text-3xl lg:text-4xl font-bold text-cobalt text-center mb-8">Reset your password</h1>
                    <p class="mb-6"> Enter your email address, and we will send you a link to reset your password.</p>
                    {% for flash_error in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    {{ form_errors(requestForm) }}
                    {{ form_start(requestForm) }}
                    <div class="space-y-4">
                        <div>
                            {{ form_label(requestForm.email, null, {'label_attr': {'class': 'block text-sm font-medium text-ink mb-1'}}) }}
                            {{ form_widget(requestForm.email,
                                {'attr': {'class': 'w-full rounded-lg border border-gray-300 px-4 py-2 text-sm text-ink focus:border-gray-600 focus:ring-cobalt'}}) }}

                            {% for error in requestForm.email.vars.errors %}
                                <div class="form-error-message text-sm text-red-600 mt-1">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="flex items-center justify-center mt-6">
                        <button type="submit" class="cursor-pointer uppercase bg-cobalt text-white text-sm  px-8 py-2.5 rounded-lg hover:bg-cobalt-dark transition">Send password reset email</button>
                    </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
