<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{% endblock %} - Speak Up</title>
        {#
        Those two blocks defines frontend entrypoint for CSS and JavaScript assets
        See https://symfony.com/doc/current/frontend.html
        #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
    </head>
    <body>
        <main id="main">
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div id="root"></div>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
